<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <style>
        /* Add your CSS styles here */
        body {
            font-family: Arial, sans-serif;
           
        background-image: url('/media/homepage/back.jpg');
         }
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        h1 {
            font-size: 28px;
            color: #090909;
        }
        p {
            font-size: 16px;
            line-height: 1.6;
            color: #090909;
        }
    </style>
</head>


<body>

    <div class="container">
        <h1>About Us</h1>
        <p>
            At Crop Prognosticators, we are passionate about harnessing the power of data, technology, and agricultural expertise to revolutionize the way we understand and predict crop yields. Our mission is to empower farmers, agricultural stakeholders, and policymakers with accurate and timely information to make informed decisions that enhance food security and sustainability.
        </p>

        <h1>Our Vision</h1>
        <p>
            We envision a world where crop prognostication becomes an essential tool in modern agriculture, contributing to global food security and environmental sustainability. Through cutting-edge research, innovation, and collaboration, we strive to shape the future of farming for the betterment of humanity.
       </p>

        <p>
            Thank you 
        </p>
        <div class="back-button">
            <a href="javascript:history.go(-1)">Back</a>
        </div>
    </div>
    
</body>
</html>
