<!DOCTYPE html>
<html>
<body>
<header><h1 style="color:DodgerBlue;">American boll warm</h1></header>


 <img src="https://lh3.googleusercontent.com/proxy/yzkzYUDdSzU-EIsJMEK5_pRU9hq0ZjzFPk1AikHeCUufEPwT0vI4-GYCeNUeGXpVosEKVO-uMl1TDSiLDYhjH1bza1_-wICkPsFZ_YU8IXpdtQNb" alt="image" width="400" height="300"> 

<h2 style="color:MediumSeaGreen;">Symptoms of Damage</h2>

<p> 1. Bolls showing regular, circular bore holes
<br>2. Larvae seen feeding on the boll by thrusting their heads alone inside and leaving the rest of the body outside
Presence of granular faecal pellets outside the bore hole. <br>
3. A single larva can damage 30-40 bolls.<br> 
</p>

<h2 style="color:MediumSeaGreen;">Identification of Pest</h2>

<p>

    Eggs - Spherical in shape and creamy white in colour, present singly <br>
    Larva - Shows colour variation from greenish to brown.<br>
    It has dark brown grey lines on the body with lateral white lines and also has dark and pale bands.<br>
    Pupa - Brown in colour, occurs in soil, leaf, pod and crop debris<br>
    Adult<br>
    Light pale brownish yellow stout moth<br>
    Forewings are olive green to pale brown in colour with a dark brown circular spot in the centre. <br> 
    Hind wings are pale smoky white with a broad blackish outer margin.<br>

<br> 
</p>



<h2 style="color:MediumSeaGreen;">Remedy</h2>

<h4 style="color:MediumSeaGreen;">Biological Control</h2>

<p>
    1. Application of Nuclear Polyhedrosis Virus (NPV) at 3 x 10 12 POB /ha in evening hours at 7th and
    12th week after sowing.
     <br>2. Conservation and augmentation of natural predators and parasitoids for effective control of the pest.
    <br>3. Inundative release of egg parasitoid, Trichogramma spp., at 6.25 cc/ha at 15 days interval 3 times from 45 DAS
    Egg-larval parasitoid, Chelonus blackburnii and Predator Chrysoperla carnea at 1,00,000/ha at 6th, 13th and 14th week after sowing.
    <br>4. ULV spray of NPV at 3 x 10 12 POB /ha with 10% cotton seed kernel extract, 10% crude sugar, 0.1% each of Tinopal and Teepol for effective control of Helicoverpa.
    <br>Note: Dicofol, methyl demeton, monocrotophos and phosalone are comparatively safer to Chrysoperla larva
    recording low egg mortality.<br><br>
    
<h4 style="color:MediumSeaGreen;">Chemical Control</h2>


    1. Discourage the indiscriminate use of insecticides, particularly synthetic pyrethroids.
    <br>2. Use of proper insecticides which are comparatively safer to natural enemies such as endosulfan, phosalone, etc., at the correct dosage and alternating different groups of insecticides for each round of spray.
    <br>3. Avoid combination of insecticides as tank mix.
    <br>4. Adopt proper delivery system using spraying equipments like hand compression sprayer, knapsack sprayer and mist blower to ensure proper coverage with required quantity of spray fluid and avoid ULV applications or Akela spray applications.
    <br>5. Proper mixing and preparation of spray fluid for each filling of spray fluid tank.

    
<br></p>




</body>
</html>
