<!DOCTYPE html>
<html>
<body>
<header><h1 style="color:DodgerBlue;">Earhead feeders (Corn worm/Earworm: Helicoverpa armigera)</h1></header>


 <img src="http://agritech.tnau.ac.in/crop_protection/images/pestc/maize/cornworm/boreholeoncob.jpg" width="400" height="300"> 

<h2 style="color:MediumSeaGreen;">Symptoms of Damage</h2>

<p>
    Larva feeds on silk and developing grains.
<br> 
</p>

<h2 style="color:MediumSeaGreen;">Identification of Pest</h2>

<p>

    1. Eggs - Spherical in shape and creamy white in colour, laid singly
    <br>2. Larva - Shows colour variation from greenish to brown.
    <br>3. It has dark brown grey lines on the body with lateral white lines
    <br>4. Pupa - Brown in colour, occurs in soil, leaf, pod and crop debris
<h4 style="color:MediumSeaGreen;">Adult</h4>

    1. Light pale brownish yellow stout moth.
    <br>2. Forewings are olive green to pale brown with a dark brown circular spot in the centre.
    <br>3. Hind wings are pale smoky white with a broad blackish outer margin.


 
<br> 
</p>



<h2 style="color:MediumSeaGreen;">Remedy</h2>


<p>
• Set up of light traps<br>
• Set up sex pheromone traps at 12/ha<br>
• Two applications of NPV at 10 days interval at 1.5 X1012 POB along with
 Crude sugar 2.5 kg + cotton seed kernel powder 250 g on the ear heads<br>
Apply any one of the following on 3 rd and 18 th day after panicle emergence :<br>
• Carbaryl 10 D @ 25 kg/ha<br>
• Malathion 5 D @ 25 kg/ha<br>
• Phosalone 4 D @ 25 kg/ha <br>  

<br></p>




</body>
</html>
