<!DOCTYPE html>
<html>
<body>
<header><h1 style="color:DodgerBlue;">Early shoot borer, Chilo infuscatellus snellen</h1></header>


 <img src="http://agritech.tnau.ac.in/crop_protection/images/sugarcane_insects/1.1.deadheart.jpg" width="400" height="300"> 

<h2 style="color:MediumSeaGreen;">Symptoms of Damage</h2>

<p>
  
   1. Dead heart in 1-3 month old crop, which can be easily pulled out, rotten portion of the straw coloured dead – heart emites an offensive odour. 
<br>2. A number of bore holes at the base of the shoot just above the ground level.
<br> 
</p>



<h2 style="color:MediumSeaGreen;">Remedy</h2>


<p>

   
<h4 style="color:MediumSeaGreen;">Biological Control</h4>
               
1. Apply granulosis virus 1.1 x 10 5 IBS / ml (750 diseased larvae / ha) twice on 35 and 50 DAP.<br>
2. Release 125 gravid females of sturmiopsis inferens a tachinid parasite per ac.<br>

<h4 style="color:MediumSeaGreen;">Chemical Control</h4>

 1. Apply any one of the following insecticides if the pest crosses ETL. Carboryl +Lindane (Sevidol)  4% G 12.5 kg, lindane 10 G 12.5 kg, Carbofuron 3G 33 kg (Soil application).<br>
 2.  The granular application should be immediately followed by irrigation<br>
 3. Chlorpyriphos 1000 ml a sticker like Teepol (250 ml / 500<bt>

<br></p>




</body>
</html>
