<!DOCTYPE html>
<html>
<body>
<header><h1 style="color:DodgerBlue;">Leaf spot or sigatoka</h1></header>


 <img src="https://www.pestnet.org/fact_sheets/assets/image/banana_black_sigatoka_002/musicolapng.jpg" alt="image" width="400" height="300"> 

<h2 style="color:MediumSeaGreen;">Symptoms</h2>

<p> 1. The first visible symptom is a slight discoloration between the leaf's secondary veins.<br> 
2. Over time, these points develop into pale yellow streaks, brown streaks and elliptic necrotic spots arranged parallel to the secondary veins.<br> 
3. The depressed grey center is surrounded by a yellow halo.  As the disease progresses, the lesions coalesce and cover a large area of the leaf<br> 
</p>


<h2 style="color:MediumSeaGreen;">Cause</h2>
<p>  common in rainy season with temperate above 21 C
<br></p>


<h2 style="color:MediumSeaGreen;">Remedy</h2>

<p>1. Severly affected plant should be uprooted and burnt<br>
2. Grow paddy followed by banana for 3-5 years once or twice<br>
3. Use of quick lime near the base of plant<br>
4. cultural practices such as drainage, weeding, proper fertilization, planting density and deleafing to reduce inoculum. Sigatoka leaf spot can be effectively controlled by combining deleafing and chemical treatment.
<br>5. Chemical control : The fungicides used to control black leaf streak can also be used against Sigatoka leaf spot. It is recommended to alternate between systemic and contact fungicides to delay the development of resistance to the fungicides. 
<br></p>




</body>
</html>
