<!DOCTYPE html>
<html>
<body>
<header><h1 style="color:DodgerBlue;">Panama Wilt</h1></header>


 <img src="https://live.staticflickr.com/962/26850923777_82d4f20ed2_b.jpg" alt="image" width="400" height="300"> 

<h2 style="color:MediumSeaGreen;">Symptoms</h2>

<p>1. yellowing of lower leaves including leaf blades<br>
2. leaves hang around pseudostem and wither <br>
</p>


<h2 style="color:MediumSeaGreen;">Cause</h2>
<p> Warm soil temperature ,poor drainage ,light soils and high soil moisture
<br></p>


<h2 style="color:MediumSeaGreen;">Remedy</h2>

<p>1. Severly affected plant should be uprooted and burnt<br>
2. Grow paddy followed by banana for 3-5 years once or twice<br>
3. Use of quick lime near the base of plant
<br></p>




</body>
</html>
