<!DOCTYPE html>
<html>
<body>
<header><h1 style="color:DodgerBlue;">Pink Bollwarm</h1></header>


 <img src="https://c8.alamy.com/comp/AC9CFD/a-pink-bollworm-caterpillar-pectinophora-gossypiella-in-a-cotton-boll-AC9CFD.jpg" width="400" height="300"> 

<h2 style="color:MediumSeaGreen;">Symptoms of Damage</h2>

<p>
    1. Rosetted flowers<br>
    2. Excreta observed at the point of bore holes by larval feeding. When bolls are opened, damaged seed kernel would be observed.<br>
    3. They cut window holes (interlocular burrowing) in the two adjoining seeds thereby forming "double seeds"<br>
   4. The attacked buds and immature bolls drop off<br>
   5.  Discolored lint and burrowed seeds
<br> 
</p>

<h2 style="color:MediumSeaGreen;">Identification of Pest</h2>

<p>
<h4 style="color:MediumSeaGreen;">Larva</h2>

    1. Shows colour variation. Young larva are white and late instar becomes almost black, brown or green to pale or pink
    <br>2. Several dark and light alternating bands running the entire length

<h4 style="color:MediumSeaGreen;">Adult</h2>

    1.Small moth
    <br>2. Forewings are brown or dull yellow olive grey with dark spots
    <br>3. Hind wings margins are deeply fringed 

 
<br> 
</p>



<h2 style="color:MediumSeaGreen;">Remedy</h2>


<p>
Pink bollworm larvae specifically target cotton and are difficult to control because this damaging stage is found inside the boll. They are pinkish-white with brown heads, and can grow to ½ inch long. The adult is a small, grayish-brown moth that emerges in the spring. The females lay eggs on the host plant. They may also target, although less frequently, corn, peanut, tobacco, cowpea, and soybeans.
<br>
Cultural controls are the most effective organic method of treating bollworm. This includes proper watering, eliminating the food supply by cutting off irrigation in late summer, and shredding the cotton plants immediately after harvest. o will help reduce reproduction rates and can be used to determine levels of infestation.
<br>
Using the bacillus, Spinosad, can be effective if sprayed while larvae are over-wintering.    
    
<br></p>




</body>
</html>
