<!DOCTYPE html>
<html>
<body>
	     <div id="google_translate_element_id"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>

<header><h1 style="color:DodgerBlue;">	PM Kisan Samman Nidhi yojana </h1></header>

<a href="https://pmkisan.gov.in/">Click To Apply</a>

<h2 style="color:MediumSeaGreen;">Eligibility Criteria</h2>

<p>
1.All landholding farmers’ families having cultivable landholding in their names can apply under this scheme. Farmers are not bound to have the 2 hectares of cultivated land. The ambit of this scheme has been extended now.<br>
2. Earlier, Small and Marginal Farmers families were also eligible for this benefit but after the changes in eligibility guidelines, these farmers are not eligible and hence will not get the benefit. <br>
3. Farmers from both the urban and rural areas are eligible.<br>
4. Beneficiaries having higher economic status are not eligible for this scheme.
<br>
<br>
</p>

<h2 style="color:MediumSeaGreen;">Benefits </h2>
<p> Payment of Rs. 2000/Transaction 3 times a year in farmer's bank acount <br></p>



<h2 style="color:MediumSeaGreen;">How to apply </h2>
<p> Eligible farmers can register for PM Kisan Nidhi 2020 Scheme only in online mode. For tha they can register by their own from the PM Kisan portal. They can also register by visiting the nearest Common Service Centres (CSCs) by the payment of the requisite fee.    <br></p>


<h2 style="color:MediumSeaGreen;">Application Procedure</h2>

<p>
    1. Visit the official website of PM Kisan Samman Nidhi i.e. https://www.pmkisan.gov.in.
    <br>2. Click on “Farmers Corner” tab given on the homepage.
    <br>3. Select the “New Farmers Registration” link from the dropdown list.
    <br>4. Enter the Aadhaar No. and security text and hit the “Click here to continue” tab.
    <br>5. Registration form will appear.
    <br>6. Candidates have to fill all the personal details of the farmer in the respective fields. Lastly, they have to click on “Save” button.
    <br>7. Finally, registration procedure will complete.
    <br>8. On final registration, candidates will receive a confirmation SMS on their registered mobile no.  <br></p>


<h2 style="color:MediumSeaGreen;">Documents Required</h2>

<p> 1. Name of the farmer, Age, Gender and Category (SC/ST)
<br>2. Aadhaar Number/ Aadhaar Card (Except for farmers in the States of Assam, Meghalaya, and J&K- now UTs of J&K and Laddakh). For the candidates of these states/ UTs, they can use documents such as Voters’ ld Card, Driving Licence, NREGA Job Card, or any other documents issued by Central/State/UT Governments or other competitive authorities, etc.) for the purpose of identification verification.
<br>3. Bank Passbook for details like Bank Account Number and IFSC Code.
<br>4. A valid Mobile number (However, it is not that mandatory but they should provide this so that every information or update related to this scheme can be communicated to the beneficiary through SMS.
<br></p>

<h2 style="color:MediumSeaGreen;">How to check BeneFiciary List</h2>
<p>   1.Go to the PM Kisan portal.
    <br>2. Click on Farmer’s Corner” tab on the homepage and click on “Beneficiary List” option.
    <br>3. Enter the relevant information and click on “Get Data” tab.
    <br>4. The beneficiary status of farmer will appear. 
<br></p>

    

</body>
</html>
