{% extends 'accounts/translator-script.html' %}
{% block css %}
{% endblock %}
{% block body %}
     <div id="google_translate_element_id"></div>

<script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element_id');
}
</script>

<script type="text/javascript">
  (function(){var gtConstEvalStartTime = new Date();/*

 Copyright The Closure Library Authors.
 SPDX-License-Identifier: Apache-2.0
*/
function d(b){var a=document.getElementsByTagName("head")[0];a||(a=document.body.parentNode.appendChild(document.createElement("head")));a.appendChild(b)}function _loadJs(b){var a=document.createElement("script");a.type="text/javascript";a.charset="UTF-8";a.src=b;d(a)}function _loadCss(b){var a=document.createElement("link");a.type="text/css";a.rel="stylesheet";a.charset="UTF-8";a.href=b;d(a)}function _isNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)if(!(a=a[b[c]]))return!1;return!0}
function _setupNS(b){b=b.split(".");for(var a=window,c=0;c<b.length;++c)a.hasOwnProperty?a.hasOwnProperty(b[c])?a=a[b[c]]:a=a[b[c]]={}:a=a[b[c]]||(a[b[c]]={});return a}window.addEventListener&&"undefined"==typeof document.readyState&&window.addEventListener("DOMContentLoaded",function(){document.readyState="complete"},!1);
if (_isNS('google.translate.Element')){return}(function(){var c=_setupNS('google.translate._const');c._cest = gtConstEvalStartTime;gtConstEvalStartTime = undefined;c._cl='en';c._cuc='googleTranslateElementInit';c._cac='';c._cam='';c._ctkk='443432.3380506509';var h='translate.googleapis.com';var s=(true?'https':window.location.protocol=='https:'?'https':'http')+'://';var b=s+h;c._pah=h;c._pas=s;c._pbi=b+'/translate_static/img/te_bk.gif';c._pci=b+'/translate_static/img/te_ctrl3.gif';c._pli=b+'/translate_static/img/loading.gif';c._plla=h+'/translate_a/l';c._pmi=b+'/translate_static/img/mini_google.png';c._ps=b+'/translate_static/css/translateelement.css';c._puh='translate.google.com';_loadCss(c._ps);_loadJs(b+'/translate_static/js/element/main.js');})();})();

</script>

<header><h1 style="color:DodgerBlue;">Rice</h1></header>
<img src="/media/accounts/images/rice.jpeg">
<p>Rice is the main staple food in Asia, where about 90% of the world's rice is produced and consumed. China is the world's biggest producer, growing one-third of Asia's total on 29 million ha (Table 1.1). India produces nearly a quarter on 43 million ha. Other top rice-producing countries in Asia are mentioned in table 1.1 too. Average yields in these countries range from 2.6 to 6.5 t/ha*.</p>


<h2 style="color:MediumSeaGreen;">Plant description</h2>
<p>Rice plant is an annual warm-season grass (monocot plant) with round culms, flat leaves and terminal panicles.<br>

Rice is normally grown as an annual plant, although in tropical areas it can survive as a perennial and can produce a ratoon crop up to 20 years. The rice plant can grow to 1–1.8 m tall, occasionally more, depending on the variety and soil fertility. <br>The grass has long, slender leaves 50–100 cm long and 2–2.5 cm broad. The small wind-pollinated flowers are produced in a branched arching to pendulous inflorescence 30–50 cm long. The edible seed is a grain (caryopsis) 5–12 mm long and 2–3 mm thick.
</p>

<h2 style="color:MediumSeaGreen;">Rice grain structure</h2>
<p>A kernel of rice consists of a hull and a bran coat, both of which are removed on polishing "white" rice. In general, each rice kernel is composed of the following layers.<br>

Rice shell, hull or husk: encloses the bran coat, the embryo and the endosperm.
Bran Coat (layer): a very thin layer of differentiated tissues. The layer contains fiber, vitamin B, protein and fat. The most nutritious part of rice resides in this layer.<br>
Embryo: The innermost part of a rice grain consists mainly of starch called amylase and amylo pectin. The mixture of these two starches determines the cooking texture of rice.
</p>
<h2 style="color:MediumSeaGreen;">Soil</h2>
<p>Soil type: A rice paddy needs to hold water well. Ideally, soil needs to include about 50% clay content. Also, soil underlain with an impervious hardpan or clay-pan helps to hold water.</p>

 

<h2 style="color:MediumSeaGreen;"> Irrigation</h2>
<p>Rice can grow in either a wet (paddy) or a dry (field) setting. (Rice fields are also called paddy fields or rice paddies).
<br>
About 75% of the global rice production comes from irrigated rice systems because most rice varieties express their full yield potential when water supply is adequate.<br>

In cooler areas, during late spring, water serves also as a heat-holding medium and creates a much milder environment for rice growing.<br>

A pond could hold irrigation water to use in the summer, when demand for water is the greatest.<br>

The bulk of the rice in Asia is grown during the wet season starting in June-July, and dependence on rainfall is the most limiting production constraint for rain-fed culture. Rice areas in South and Southeast Asia may, in general, be classified into irrigated, rain-fed upland, rain-fed shallow water lowland and rain-fed deep water lowland areas.</p>


<h2 style="color:MediumSeaGreen;"> Varieties</h2>
<p>There are more than 40,000 varieties of cultivated rice (Oryza sativa L.), but the exact figure is uncertain. Over 90,000 samples of cultivated and wild rice species are stored at the International Rice Gene Bank and these are used by researchers all over the world.<br>

There are four main types of rice: Indica, Japonica, aromatic, and glutinous. Rice seeds vary in shape, size, width, length, color and aroma. There are many different varieties of rice: drought-resistant, pest-resistant, flood-resistant, saline-resistant, tall, short, aromatic, sticky, with red, violet, brown, or black; long and slender; or short and round grains.<br>

Extensive studies of the varieties have demonstrated that they were independently derived from the wild rice species Oryza rufipogon. The domesticated varieties show much less variation (polymorphism) than the wild species.</p>

<h2 style="color:MediumSeaGreen;"> Yields</h2>
<p>Yield gap is literally defined as the difference between yield potential of rice and yields that are actually obtained by farmers.<br>
Yield potential of traditional Indica varieties is about 5 t/ha, while yield potential of crossbreedingJaponica varieties x with high-yielding Indica varieties,is  about 10 t/ha Yield potential of high-yielding Japonica varieties is about 15 t/ha while the yield potential of hybrid varieties is about 18 t/ha.</p>

 <h2 style="color:MediumSeaGreen;">Seeding and planting rice</h2>
<p>Several seeding and planting methods are practiced:<br>

Dry seeding with drill.
Dry seeding by broadcast or air. Most of the rice, in large fields, is sown by aircraft. Experienced agricultural pilots use satellite guidance technology to broadcast seed accurately over the fields.
Water seeding with pre-germinated seed.<br>
Seedlings are transplanted by hand (Figure 1.11), or by machines (Figure 1.13) to fields which have been flooded by rain or river water.<br>
Seedlings 25-30 days old, grown in a nursery are usually transplanted at 20 x 15 or 20 x 10 or 15 x 15 cm spacing in a well prepared main field and normally this will have a population of 335,000 to 500,000 hills/ha (33 to 50 hills/m2), whereby each hill contains 2-3 plants.
</p>

{% endblock %}
{% block js %}
{% endblock %}